body {
  font-family: sans-serif;
  background-color: #f1f1f1;
}

/* Estilos para la barra superior */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0074D9;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

.navbar h1 {
  margin: 0;
}

.toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-theme i {
  font-size: 24px;
  color: #0074D9;
}

.toggle-theme:hover {
  background-color: #e6e6e6;
}

/* Estilos para el formulario */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  padding-right: 1em; /* Añadido para separar los campos del borde derecho */
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
