body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}

a:visited {
  color:blueviolet;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  background-color: #0077be;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.toggle i {
  font-size: 18px;
  color: #0077be;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.dark-mode .topbar {
  background-color: #0077be;
}

.dark-mode .toggle {
  background-color: #555555;
}

.dark-mode .toggle i {
  color: #e6e6e6;
}

.dark-mode form {
  background-color: #2c2c2c;
}

.dark-mode a:visited {
  color:burlywood;
}

.dark-mode a {
  color:#3a99d0;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  font-size: 28px;
  
}

h1 {
  text-align: center;
  font-size: 28px;
  margin: 20px, 20px, 20px;
}

.form-container {
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
  padding-right: 1em;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}
.vinculo {
  text-align: center;
}

